*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #F3F5FC;
    font-size: 25px;
    font-weight: 400;
}

body {
    box-sizing: border-box;
}

header, footer {
    text-align: center;
    padding: 10px;
}

header img {
    border-radius: 100%;
    max-height: 80px;
    max-width: 80px;
}

main {
    display: flex;
    padding: 50px;
    align-items: stretch; /*eixo y*/
    justify-content: center; /*eixo x*/
}

section {
    margin: 30px;
}

textarea {
    text-transform: lowercase;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    width: 90%;
}

.boxfinal {
    padding-top: 10px;
    background-color: white;
    box-shadow: rgb(53, 53, 53) 4px 4px 5px;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.textofinal {
    background-color: white;
    background-image: url(./bgimg.png);
    background-repeat:no-repeat;
    text-align: center;
}

::placeholder {
    color: #0A3871;
}

.aviso {
    letter-spacing: 1px;
    font-size: 20px;
    color: #495057;
}

ion-icon {
    color: black;
    height: 20px;
}

.descriptografar, .criptografar, .copiar {
    padding: 10px;
    border-radius: 24px;
    width: 328px;
    margin: 30px;
}

.criptografar {
    background-color: #0A3871;
    border: solid #0A3871 2px;
    color: white;
}

.descriptografar {
    color: #0A3871;
    border: solid #0A3871 2px;
    background-color: #D8DFE8;
}

/*para telas de até 768px*/
@media only screen and (max-width: 768px) {
    * {
        font-size: 32px;
    }
    
    main {
        display: block;
        padding: 30px;
        margin: auto auto;
    }

    section {
        margin: 0px;
    }

    .boxfinal {
        max-width: 1174px;
    }

    .textofinal {
        background-image: none;
    }
    
    .aviso {
        font-size: 15px;
    }
    
    ion-icon {
        height: 15px;
    }
    
    .descriptografar, .criptografar, .copiar {
        padding: 10px;
        border-radius: 24px;
        width: 332px;
        margin: 20px;
    }
}

/*para telas de até 375px*/
@media only screen and (max-width: 375px) {
    * {
        font-size: 25px;
    }

    main {
        display: block;
        padding: 20px;
    }
    
    section {
        margin: 0px;
    }
    
    .textofinal {
        background-image: none;
    }
    
    .aviso {
        font-size: 15px;
    }
    
    ion-icon {
        height: 15px;
    }

    #btn {
        display: flex;
        flex-direction: column;
    }
    
    .descriptografar, .criptografar, .copiar {
        padding: 10px;
        border-radius: 24px;
        width: 300px;
        margin: 10px;
        display: inline-block;
    }
    
}