*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #F3F5FC;
    font-size: 25px;
    font-weight: 400;
}

header, footer {
    text-align: center;
}

header img {
    border-radius: 100%;
    max-height: 80px;
    max-width: 80px;
}

main {
    display: flex;
    padding: 50px;
    align-items: stretch; /*eixo y*/
    justify-content: center; /*eixo x*/
}

section {
    margin: 30px;
}

textarea {
    text-transform: lowercase;
    box-sizing: border-box;
    padding: 10px;
    border: none;
}

.boxfinal {
    padding-top: 10px;
    background-color: white;
    box-shadow: rgb(53, 53, 53) 4px 4px 5px;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.textofinal {
    background-color: white;
    background-image: url(./bgimg.png);
    background-repeat:no-repeat;
    text-align: center;
}

::placeholder {
    color: #0A3871;
}

.aviso {
    letter-spacing: 1px;
    font-size: 20px;
    color: #495057;
}

ion-icon {
    color: black;
    height: 20px;
}

.descriptografar, .criptografar, .copiar {
    padding: 10px;
    border-radius: 24px;
    width: 328px;
    margin: 30px;
    display: inline-block;
}

.criptografar {
    background-color: #0A3871;
    border: solid #0A3871 2px;
    color: white;
}

.descriptografar {
    color: #0A3871;
    border: solid #0A3871 2px;
    background-color: #D8DFE8;
}